<header class="header">
  <div class="header__logo">
    <img src="~/img/Logo.png" alt="Logo Phòng Khám">
  </div>
  <nav class="header__nav">
    <ul class="header__menu">
      <li class="header__item header__item--active"><a href="#">TRANG CHỦ</a></li>
      <li class="header__item"><a href="#">DỊCH VỤ</a></li>
      <li class="header__item"><a href="#">CHUYÊN KHOA</a></li>
      <li class="header__item"><a href="#">BÁC SĨ</a></li>
      <li class="header__item"><a href="#">ĐẶT LỊCH HẸN</a></li>
      <li class="header__item"><a href="#">LIÊN HỆ</a></li>
      <li class="header__item"><a href="#">ĐĂNG NHẬP</a></li>
    </ul>
  </nav>
  <div class="header__search">
    <input type="text" placeholder="Tìm kiếm bác sĩ..." class="header__search-input">
    <img src="~/img/search.png" alt="Icon_search" class="header__search-icon">
  </div>
</header>