<header class="header">
  <div class="header__logo">
      <img src="./assets/img/Logo.png" alt="Logo Phòng Khám">
  </div>
  <nav class="header__nav">
      <ul class="header__menu">
          <li class="header__item trangchu"><a href="#">TRANG CHỦ</a></li>
          <li class="header__item dichvu"><a href="#">DỊCH VỤ</a></li>
          <li class="header__item chuyenkhoa"><a href="#">CHUYÊN KHOA</a></li>
          <li class="header__item topbacsi"><a href="#">BÁC SĨ</a></li>
          <li class="header__item datlichhen"><a href="#">ĐẶT LỊCH HẸN</a></li>
          <li class="header__item lienhe"><a href="#">LIÊN HỆ</a></li>
          <li class="header__item dangnhap" id="login-btn"><a href="#">ĐĂNG NHẬP</a></li>
      </ul>
  </nav>
  <div class="header__search">
    <input type="text" placeholder="Tìm kiếm bác sĩ..." class="header__search-input">
    <img src="./assets/img/search.png" alt="Icon_search" class="header__search-icon">
  </div>
</header>

