<!-- HTML Structure -->
<div class="patient-nav">
  <div class="patient-nav__profile">
    <div class="patient-nav__avatar">
      <img src="../assets/img/user.png" alt="Avatar">
    </div>
    <div class="patient-nav__info">
      <h3 class="patient-nav__name">Nguyễn Thị Thùy Linh</h3>
      <p class="patient-nav__id">MBN10223030</p>
    </div>
  </div>
  
  <nav class="patient-nav__menu">
    <ul class="patient-nav__list">
      <li class="patient-nav__item">
        <a class="patient-nav__link" data-page="profile">
          <span class="patient-nav__icon patient-nav__icon--profile">
            <img src="../assets/img/people.png" alt="Avatar">
          </span>
          <span class="patient-nav__text">Thông tin cá nhân</span>
        </a>
      </li>
      <li class="patient-nav__item">
        <a class="patient-nav__link" data-page="appointment">
          <span class="patient-nav__icon patient-nav__icon--calendar">
            <img src="../assets/img/appointment.png" alt="Avatar">
          </span>
          <span class="patient-nav__text">Lịch hẹn khám</span>
        </a>
      </li>
      <li class="patient-nav__item">
        <a href="#" class="patient-nav__link">
          <span class="patient-nav__icon patient-nav__icon--health">
            <img src="../assets/img/heart-attack.png" alt="Avatar">
          </span>
          <span class="patient-nav__text">Hồ sơ y tế</span>
        </a>
      </li>
      <li class="patient-nav__item">
        <a href="#" class="patient-nav__link" data-page="paymentAfter">
          <span class="patient-nav__icon patient-nav__icon--payment">
            <img src="../assets/img/credit-card.png" alt="Avatar">
          </span>
          <span class="patient-nav__text">Thanh toán</span>
        </a>
      </li>
      <li class="patient-nav__item">
        <a href="#" class="patient-nav__link" data-page="help">
          <span class="patient-nav__icon patient-nav__icon--support">
            <img src="../assets/img/help-web-button.png" alt="Avatar">
          </span>
          <span class="patient-nav__text">Hỗ trợ</span>
        </a>
      </li>
      <li class="patient-nav__item">
        <a href="#" class="patient-nav__link">
          <span class="patient-nav__icon patient-nav__icon--logout">
            <img src="../assets/img/logout.png" alt="Avatar">
          </span>
          <span class="patient-nav__text">Đăng xuất</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<style>
  @import url('../assets/styles/patientNav.css');
</style>