.modal-dialog {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
}

    .modal.open {
        display: flex;
    }


.login__container {
    display: flex;
/*    flex-direction: column;*/
    max-width: 900px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: white;
    color: #002147;
    margin: 0 auto;
}

.login__content-left,
.login__content-right {
    flex: 1;
    min-width: 300px;
}
.login__content-left {
    padding: 10px 30px;
}

.login__logo {
    margin-bottom: 40px;
    display: flex;
}

.login__logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #002147;
    flex-direction: column;
}

.loginlogo-image {
    max-width: 85px;
    height: auto;
}

.logintitle {
    font-size: 24px;
    font-weight: bold;
    color: #002147;
    margin-bottom: 20px;
    text-align: center;
}

.loginform {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.loginform-group {
    display: flex;
    flex-direction: column;
}

.logininput {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    color: #002147;
}

    .logininput:focus {
        border-color: #007bff;
    }

.loginform-links {
    text-align: right;
}

.loginforgot-password {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

    .loginforgot-password:hover {
        text-decoration: underline;
    }

.loginbutton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .loginbutton:hover {
        background-color: #0056b3;
        transform: translateY(-2px);
    }

.loginregister {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.loginregister-link {
    color: #007bff;
    text-decoration: none;
}

    .loginregister-link:hover {
        text-decoration: underline;
    }

.login__content-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9f0ff;
}

.loginimage-content {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
/* Responsive Design */
@media (max-width: 768px) {
    .logincontainer {
        flex-direction: column;
    }

    .logincontent {
        padding: 20px;
    }

    .loginimage {
        display: none;
    }

    .loginlogo {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
