.login__container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 0 auto;
}

.login__content {
  flex: 1;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #002147;
  color: white;
}

.login__logo {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.login__logo-text {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 10px;
}

.login__logo-image {
  max-width: 80px;
}

.login__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login__form-group {
  display: flex;
  flex-direction: column;
}

.login__input {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-bottom: 10px;
  width: 100%;
}

.login__input:focus {
  border-color: #007bff;
}

.login__form-links {
  text-align: right;
  margin-bottom: 20px;
}

.login__forgot-password {
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.login__forgot-password:hover {
  text-decoration: underline;
}

.login__button {
  background-color: #1a75ff;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
}

.login__button:hover {
  background-color: #0056b3;
}

.login__register {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.login__register-link {
  color: #007bff;
  text-decoration: none;
}

.login__register-link:hover {
  text-decoration: underline;
}

.login__image {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: auto;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__image-content {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* Responsive Design */
@media (max-width: 768px) {
  .login__container {
    flex-direction: column;
  }

  .login__content {
    padding: 20px;
  }

  .login__image {
    display: none;
  }
  .login__logo {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.modal-dialog.modal-lg {
  max-width: 850px;
}
